nltk
spacy
gensim
numpy
pandas
tqdm
wordcloud
networkx
matplotlib
num2words
pytest
sklearn
seaborn
tqdm
mplcursors
umap-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
